@use '../../variables.scss'as v;

.containterLink {
    text-decoration: none;
}

.container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid gray;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;

    h1 {
        @include v.title-font
    }

    color:black;
    text-decoration: none;
    text-underline-position: unset;

    .name {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
    }


    .favorites-button {
        align-self: end;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        z-index: 10;
    }
}

