<a *ngIf="airline && airline.code" routerLink="/detail/{{airline.code}}" class="containterLink">
    <div class="container">
        <div *ngIf="airline && airline.code && isFavorite(airline.code); then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <button  class="favorites-button" *ngIf="airline && airline.code" (click)="toFavorites($event, airline.code, false)">
                    <img src="/assets/static/images/svg/star_fill.svg">
                </button>        </ng-template>
            <ng-template #elseBlock>
                <button class="favorites-button" *ngIf="airline && airline.code" (click)="toFavorites($event, airline.code, true)">
                    <img src="/assets/static/images/svg/star_empty.svg">
                </button>
            </ng-template>

            <div *ngIf="airline && airline.logoURL">
                <img src="{{airline.logoURL}}"/><br>
            </div>

            <div *ngIf="airline && airline.name" class="name">
                {{airline.name}}
            </div>
    </div>
</a>