@use '../../variables.scss' as v;
.container{
    background-color: v.$orange;
    @include v.orange-gradient;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    img{
        width:130px;
    }
}


@media only screen and (max-width: 768px) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }
}