
<div class="header">
    <button (click)="goBack()">< Back</button>
</div>
<div *ngIf="airline" class="container">
    <app-airline [airline]="airline" class="card"></app-airline>
    <div class="info">
        <h1>{{airline.name}}</h1>
        <h4>{{airline.code}}</h4>
        <ul>
            <li>
                Phone: {{airline.phone}}
            </li>
            <li>
                Website: <a [href]="airline.site" target="_blank" rel="noopener">{{airline.site}}</a>
            </li>
            <li>
                US Name: {{airline.usName}}
            </li>
        </ul>
    </div>
    
    
</div>
