@use '../../variables.scss' as v;

.container{
    display: flex;
    flex-wrap: wrap;
    .items{
            width:20%;
    }
    padding-left: 10vw;
    padding-right: 10vw;
    .card{
        width:200px;
        
    }
}
.header{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10vw;
    padding-right: 10vw;
    button{
        background-color: rgba($color: #000000, $alpha: 0);
        border: 0;
        cursor: pointer;
        
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
    }
}
.info{
    font-family: 'openSans';
    font-size: 13px;
    line-height: 22px;
    h1{
        @include v.title-font;
        line-height: 41px;
    }
    h4{
        @include v.second-title-font;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
    }
    padding-left: 40px;
    ul{
        list-style-type: none;
        padding:0;
    }
}
@media only screen and (max-width: 768px) {
    .container{
        justify-content: center;
        
    }
    .info {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
}