<!-- <div class="container">
    <div>
        <h1>Partner Airlines</h1>
    </div>
    <div class="favouritesLink">
        <a href="#">View favourites</a>
    </div>
    
</div> -->
<app-main-content></app-main-content>
