@use '../../variables.scss' as v;
.container{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    h1{
        @include v.title-font
    }
    a{
        color: v.$orange;
        text-decoration-line: underline;
    }
}