
@use '../../variables.scss' as v;

.container{
    display: flex;
    flex-wrap: wrap;
    .items{
        width:18%;
        margin-left: 2%;
    }
    padding-left: 10vw;
    padding-right: 10vw;
}


.pagination{
    display: flex;
    width:100vw;
    justify-content: center;
    div{
        width:auto;
    }
}

.favouritesLink{
    cursor: pointer;
}

.main-content{
    display: flex;
    flex-direction: column;
}

.container-header{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    h1{
        @include v.title-font
    }
    a{
        color: v.$orange;
        text-decoration-line: underline;
    }
}

.pagination{
    display: flex;
    gap: 8px;
    button{
        font-size: large;
        width: 48px;
        height: 48px;
        background-color: white;
        border: 1px solid #17232C;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
        .items{
            width: 45%;
            margin-left: 5%;
        }
    }
}

@media only screen and (max-width: 425px) {
    .pagination{
        flex-wrap: wrap;
        button{
            font-size: small;
            width: 32px;
            height: 32px;
        }
    }
}