<div class="main-content">
    <div class="container-header">
        <div>
            <h1>Partner Airlines</h1>
        </div>
        <div class="favouritesLink">
            <a (click)="switchViewType()">View favorites</a>
        </div>
        
    </div>
    <!-- <img src="/assets/static/images/svg/star_empty.svg"> -->
    <div class="container">
        <div class="items" *ngFor="let airline of getAirlinesByPage()">
            <app-airline [airline]="airline"></app-airline>
            <!-- <div *ngIf="isFavorite(airline.code); then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <button (click)="addToFavorites(airline.code, false)">
                    <img src="/assets/static/images/svg/star_fill.svg">
                </button>        </ng-template>
            <ng-template #elseBlock>
                <button (click)="addToFavorites(airline.code, true)">
                    <img src="/assets/static/images/svg/star_empty.svg">
                </button>
            </ng-template>
            
            {{airline.name}},
            <img src="{{airline.logoURL}}"/><br> -->
        </div>
        <div class="pagination">
            <button *ngIf="page-10 >= 0" (click)="pageMinusTen()" ><</button>
            <div *ngFor="let item of getNearPages(page) ;let i = index">
                <button (click)="changePage(item)">
                    {{item+1}}
                </button>
            </div>
            
            <button *ngIf="page+10 <= maxPages" (click)="pagePlusTen()" >></button>
        </div>
        
    </div>
</div>