@font-face {
    font-family: openSans;
    src: url(./assets/OpenSans.ttf);
}

$orange: #FF690F;
$red: #E8381B;
$dark: #17232C;
$blue: #1E93F5;

@mixin orange-gradient {
    background: linear-gradient(90deg, #FF690F -0.56%, #E8381B 100%);
}

@mixin title-font{
    font-family: 'openSans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;

    color: #17232C;
}

@mixin second-title-font{
    font-family: 'openSans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;

    color: #17232C;
}